<div class="container">



  <h1>Customers
    <a href="http://localhost:3000/customers/new"class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
    <li class="waves-effect waves-light white-text btn orange"><%= link_to 'New Status', new_customer_status_path %></li>

  </h1>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for customers..." title="Type in a name">

</div>


<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, ul2,p2,x;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li2');
        //ul2 = document.getElementById('myCardDIV');

        ul2 = ul.getElementsByTagName('div2');
        p2 = ul.getElementsByTagName('p');



        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if ((a.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                li[i].style.display = "";
                ul2[i].style.display ="";


            } else {
                li[i].style.display = "none";
                ul2[i].style.display ="none";



            }
        }

    }
</script>