<html>

<div class="header">
  <!--<h1><%= link_to 'Home', root_path%></h1>

  <ul class="hmenu">
    <%= link_to 'Home', root_path %>

    <%= render 'devise/menu/login_items' %>
  </ul>-->

</div>
</html>
